@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Set your theme variables here */
    --background: 255 100% 100%;
    --foreground: 222 84% 5%;
    /* Add all other light and dark theme variables */
  }

  .dark {
    --background: 222 84% 5%;
    --foreground: 210 40% 98%;
    /* Add all other dark theme variables */
  }

  html { scroll-behavior: smooth; }
  body { @apply bg-background text-foreground; }
  h1, h2, h3 { font-family: 'Orbitron', sans-serif; }
}